# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

*.suo
*.sdf

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

Extreme Tetris/Extreme Tetris/Debug/vc120.pdb
Extreme Tetris/Extreme Tetris/Debug/Extreme Tetris.log
Extreme Tetris/Extreme Tetris/Debug/vc120.pdb
Extreme Tetris/Extreme Tetris/Debug/Extreme Tetris.tlog/CL.read.1.tlog
Extreme Tetris/Extreme Tetris/Debug/Extreme Tetris.log
Extreme Tetris/Debug/Extreme Tetris.ilk
Extreme Tetris/Debug/Extreme Tetris.pdb
Extreme Tetris/Extreme Tetris.v12.suo